.signUpForm {
  margin-top: 40px;
  text-align: center;
}
.signUpForm input {
  background: transparent;
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  color: #ffffff;
}
.signUpForm input[type="submit"] {
  background-color: rgb(193, 17, 25);
  border: none;
  transition: background 0.3s ease-in-out;
  font-weight: bold;
}
.signUpForm input[type="button"] {
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.3);
  border: none;
  transition: background 0.3s ease-in-out;
}
.signUpForm input[type="submit"]:hover {
  background-color: rgba(193, 17, 25, .8);
}
.signUpForm input[type="button"]:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
.signUpForm a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.signUpForm input[type="checkbox"] {
  display: inline;
  width: auto;
}
.forgotPswd{
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all .3s ease-in-out;
}
.forgotPswd:hover{
  text-decoration-color:  rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}